{
  "env": {
    "development": {
      "compact": false
    },
    "test": {
      "plugins": [
        ["babel-plugin-webpack-alias-7"]
      ]
    }
  },
  "plugins": [
    ["babel-plugin-webpack-alias-7"]
  ]
  // "plugins": [
  //   [
  //     "module-resolver",
  //     {
  //       "root": ["./"],
  //       // "@": "app/",
  //       "alias": {
  //         "@": "./app"
  //       },
  //       // "extensions": ["js", "jsx", "vue", "ts"],
  //       "cwd": "babelrc"
  //     }
  //   ]
  // ]
}
